$font-normal: 'CenturyGothic';
$font-bold: 'CenturyGothic-Bold';
$font-bold-italic: 'CenturyGothic-BoldItalic';

$color-white: #fff;
$color-black: #000;
$color-green: #22A75D;
$color-blue: #2278D4;
$color-vulcan: #0F1320;
$color-grey: #6f7179;
$color-yellow: #FFD100;
$color-red: #E20613;
$color-denim: #0F87CA;
$color-mountain-meadow: #19A255;
$color-ebony: #0D1320;
$color-titan: #ebeeff;
$color-mirage: #171B29;
$color-shark: #191B21;
$color-cinder: #0D0B16;